@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@source inline('{px-,my-}{0,1,2,3,4,5,6,8,10}');

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-neutral-200);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-neutral-400);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-neutral-500);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
