@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source inline('{px-,my-}{0,1,2,3,4,5,6,8,10}');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}